* {
  margin: 0;
  padding: 0;
}

/*webkit-appearanse: none;
-moz-appearanse: none;*/

body {
  width: 100%;
  min-width: 320px;
  font-family: 'Ubuntu', Arial, sans-serif;
  color: #223035;
}

a {
  text-decoration: none;
  color: #223035;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.first-screen {
  width: 100%;
  /*height: 100vh;*/
  box-sizing: border-box;
  background-image: url('../images/first_screen_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #79BBC0;
  padding: 40px 260px;
}

.header-wrapper {
  width: 73vw;
  max-width: 100%;
}

.logo-menu-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-first {
  width: 104px;
}

.menu-list {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
 /* identical to box height */
  text-transform: uppercase;
}

.menu-link:hover {
  color: #D9A159;
}

h1 {
  width: 743px;
  font-size: 48px;
  line-height: 130%;  /* or 62px */
  margin-top: 214px;
}

.description {
  font-family: 'Rubik', Arial, sans-serif ;
  font-size: 24px;
  margin-top: 16px;
}

.description-first {
  width: 516px;
  line-height: 150%;
  margin-top: 16px;
}

.cta-btn {
  padding: 0;
  border: none;
  background-color: #223035;
  box-shadow:
  0px 8px 16px rgba(34, 48, 53, 0.4),
  0px 2px 4px rgba(34, 48, 53, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #F9F5F1;
}

.cta-btn-first {
  width: 272px;
  height: 56px;
  margin-top: 40px;
}

.cta-btn:hover {
  background: #2F3D42;
  box-shadow: 0px 8px 16px rgba(34, 48, 53, 0.4),
  0px 2px 4px rgba(34, 48, 53, 0.25),
  0px 12px 24px rgba(34, 48, 53, 0.25);
  color: #ffffff;
  cursor: pointer;
}

.cta-btn-first:hover {
  width: 274px;
  height: 58px;
}

.logo-ta {
  display: block;
  width: 86px;
  margin-top: 102px;
  margin-left: auto;
  margin-right: 0;
}

.section {
  width: 73vw;
  max-width: 100%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section-full {
  width: 100%;
  max-width: 100%;
}

h2 {
  font-size: 40px;
  line-height: 56px;
}

.about-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.about-wrapper::before {
  content: '';
  position: absolute;
  width: 696px;
  height: 655px;
  right: 0;
  bottom: -64px;
  background: #FFFFFF;
  border: 8px solid #F4E0C7;
  box-sizing: border-box;
  z-index: -5;
}

.about-wrapper::after {
  content: '';
  position: absolute;
  width: 792px;
  height: 680px;
  right: 24px;
  bottom: -40px;
  background-image: url('../images/second_about_1920.jpg');
  background-repeat: no-repeat;
  background-color: #F9F5F1;
  background-position: center;
  background-size: contain;
  z-index: -4;
}

.about-content {
  position: relative;
  box-sizing: border-box;
  width: 770px;
  margin-left: 24px;
  margin-top: 90px;
  padding: 85px 55px;
  background-color: #F9F5F1;
  box-shadow: 0px 8px 24px rgba(34, 48, 53, 0.08);
}

.about-content::before {
  content: '';
  position: absolute;
  width: 97px;
  height: 49px;
  left: -64px;
  top: 90px;
  background-image: url('../images/wawes.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -2;
}

.about-content::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 696px;
  height: 696px;
  left: -24px;
  top: -24px;
  background: #FFFFFF;
  border: 8px solid #F4E0C7;
  z-index: -1;
}

.big-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.big-text-about:last-of-type {
  margin-top: 16px;
}

.about-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 647px;
  margin-top: 40px;
}

.feature {
  width: 275px;
}

.feature:nth-of-type(n+3) {
  margin-top: 32px;
}

h3 {
 font-size: 32px;
 line-height: 32px;
}

.caption-about {
 margin-bottom: 8px;
}

.description-about {
  width: 275px;
  line-height: 31px;
}

.process {
  margin-top: 265px;
}

.description-process {
  width: 590px;
  line-height: 36px;
}

.process-points {
  margin-top: 90px;
}

.process-point {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 180px 40px 10px;
  border-top: 2px solid #223035;
}

.process-point:last-of-type {
  border-bottom: 2px solid #223035;
}

.caption-number {
  margin-right: 40px;
}

.caption-process {
  width: 440px;
}

.big-text-process {
  width: 920px;
}

.section-full-motivation {
  width: 100%;
  height: 838px;
  position: relative;
  box-sizing: border-box;
  padding-top: 350px;
  margin-top: 200px;
  background: #F9F5F1 url('../images/motivation_1920.jpg') no-repeat center;
  background-size: cover;
}

.section-full-motivation::after {
  content: '';
  position: absolute;
  width: 53px;
  height: 40px;
  top: 280px;
  left: 260px;
  background-image: url('../images/quotes.svg');

}

.section-title-motivation {
  width: 780px;
  margin-left: 260px;
  font-size: 48px;
  line-height: 62px;
}

.description-all-inclusive {
  width: 560px;
  line-height: 36px;
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}

.item {
  width: 440px;
}

.item:nth-child(n + 2):nth-child(-n+3),
.item:nth-child(n + 5):nth-child(-n+6),
.item:nth-child(n + 8) {
  margin-left: 40px;
}

.item:nth-child(n+4) {
  margin-top: 64px;
}

h4 {
  width: 440px;
  font-size: 20px;
  line-height: 26px;
}

.caption-small-all-inclusive {
  padding-bottom: 12px;
  border-bottom: 2px solid #223035;
}

.section-title-tariffs,
.description-tariffs {
  width: 800px;
  margin-left: 260px;
}

.description-tariffs {
  line-height: 36px;
}

.tariff {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 732px;
  background-color: #F9F5F1;
}

.tariff:first-of-type {
  margin-top: 90px;
}

.tariff-content {
  width: 960px;
  box-sizing: border-box;
  padding: 65px 35px 65px 260px;
}

.tariff-individual .tariff-content {
  padding: 65px 265px 65px 40px;
}

.description-small {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.description-small-tariff {
  width: 440px;
  margin-top: 12px;
}

.tariff-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.tariff-name {
  width: 260px;
}

.description-small-strong {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.text-small {
  font-family: 'Rubik', Arial, sans-serif ;
  font-size: 16px;
  line-height: 21px;
}

.text-small-tariff {
  margin-top: 8px;
}

.time {
  width: 98px;
  text-align: center;
}

.price {
  width: 52px;
  text-align: center;
}

.cta-btn-tariff {
  width: 198px;
  height: 58px;
}

.cta-btn-tariff:hover {
  width: 200px;
  height: 60px;
}

.tariff-trip .description-small-tariff {
  width: 640px;
}

.tariff-trip .description-small-tariff:nth-of-type(n+2) {
  margin-top: 8px;
}

.info {
  margin-top: 24px;
  text-align: right;
}

.reviews-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}

.review-card {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 32px 32px 68px;
  width: 680px;
  height: 376px;
  background: #FFFFFF;
  box-shadow:
  0px 4px 6px rgba(34, 48, 53, 0.08),
  0px 2px 2px rgba(10, 51, 64, 0.08);
}

.review-card:nth-child(n+3) {
  margin-top: 40px;
}

.review-card:nth-child(even) {
  margin-left: 40px;
}


.review-card-profile {
  width: 140px;
}

.text-small-rewiew {
  width: 448px;
  margin-left: 28px;
}

.person-img {
  width: 100%;
}

.caption-reviews {
  width: 140px;
  margin-top: 24px;
}

.social-small {
  width: 48px;
  margin-top: 16px;
}

.btn-container {
  width: 443px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
}

.btn-container::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 48px;
  right: -42px;
  top: -21px;
  background-image: url('../images/btn-text-icon.svg');


}

.btn-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
